@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Proza+Libre:400,500,700&display=swap');

@responsive {
  .text-shadow {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
  }

  .text-shadow-md {
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-lg {
    text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-xl {
    text-shadow: 0 20px 20px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, 0.8);
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .4);
}

#preloader {
  transition: opacity .1s linear;
}

#error {
  transition: opacity 3s ease-out;
}

/* checkbox */
.switch input[type="checkbox"]::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: theme('colors.blue.700');
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
  content: "\2103";
}

.switch input[type="checkbox"]:checked::after {
  right: 0;
  left: auto;
  background-color: theme('colors.red.700');
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  content: "\2109";
}